

.persons-name {
    font-size: 20px;
    color: black;
}

.debug {
    font-size: 20px;
    color: darkred;
}


.unknown-box {
    fill: darkgrey;
    stroke: black;
    stroke-width: 5px;
}

.male-box {
    fill: aquamarine;
    stroke: cornflowerblue;
    stroke-width: 2px;
}

.female-box {
    fill: coral;
    stroke: crimson;
    stroke-width: 2px;
}

.path {
    fill: none;
    stroke: darkgreen;
    stroke-width: 4px;
}


.grid {
    fill: none;
    stroke: lightgray;
    stroke-width: 1px;
}
