body {
}

.persons-name {
    font-size: 70px;
    color: black;
}


.unknown-box {
    fill: darkgrey;
    stroke: black;
    stroke-width: 5px;
}

.male-box {
    fill: aquamarine;
    stroke: cornflowerblue;
    stroke-width: 20px;
}

.female-box {
    fill: coral;
    stroke: crimson;
    stroke-width: 20px;
}

.path {
    fill: none;
    stroke: darkgreen;
    stroke-width: 10px;
}
